@font-face {
    font-family: LeckerliOne;
    src: url(files/LeckerliOne-Regular.ttf);
}

*{
    box-sizing: border-box;
    font-family: LeckerliOne;
    color: rgb(194, 194, 248) ; 
    -webkit-text-stroke: 1px rgb(34, 0, 61);
}

body{
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    margin: 0;
    background: url(files/bg.gif) center no-repeat;
    background-size: cover;
}

.whole{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.mobileTitle{
    display: none;
}

.bingo{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bingoCard{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 80%;
    width: 80%;
    border: 10px rgb(70, 58, 80) ridge;
    backdrop-filter: blur(10px);
}

.bingoCard > div{
    display: flex;
    height: 100%;
    flex: 1;
    flex-direction: column;
}

.bingoCard > div > div{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bingoCard > div > div > button{
    font-size: clamp(0.5vw,2.4vw,400px);
    color: rgb(70, 58, 80);
    -webkit-text-stroke: 2px rgb(0, 0, 0);
    width: 100%;
    height: 100%;
    border: 0;
    background-color: rgba(255, 255, 255, 0.11);
}

/* LEFT PANEL */
.left{
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-right: 5%;
    align-items: center;
}

.title{
    margin-top: 4%;
    height: 30%;
    line-height: 0.1;
    margin-bottom: -5%;
}

.title h1{
    font-size: 6em;
    text-align: center;
}

.title h2{
    font-size: 1.4vw;
    text-align: center;
}

.draw{
    justify-content: center;
    align-content: center;
    width: 70%;
    flex: 1;
    background-color: rgba(255, 255, 255, 0.11);
    backdrop-filter: blur(10px);
    border: 10px rgb(70, 58, 80) ridge;
    font-size: 7vw;
    text-align: center;
}

.buttonss{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 20%;
    justify-content: space-evenly;
    align-items: center;
}

.buttonss > button{
    height: 40%;
    width: 40%;
    border: none;
    border-radius: 20px;
    font-size: 2em;
    background-color: rgba(255, 255, 255, 0.11);
    backdrop-filter: blur(10px);
    border: 10px rgb(70, 58, 80) ridge;
}

.bingoCard > div > div > button.tantos{
    background-color: rgba(83, 79, 79, 0.11);
}

.jumpscare{
    position: fixed;          
    top: 0;
    left: 0;
    width: 100vw;             
    height: 100vh;            
    object-fit: cover;        
    z-index: 9999;            
    display: none;            
}

.win{
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transform: translate(-50, -50%);
    background-color: rgba(31, 199, 255, 0.356);
    font-size: 8vw;
    -webkit-text-stroke: 1px rgb(34, 0, 61);
}

@media (max-width: 768px){
    body{
        height: 100vh;
        background-size: cover;
    }

    .mobileTitle{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        line-height: 0.1;
        margin: 4% 0 2% 0;
    }

    .mobileTitle h1{
        font-size: 10vw;  
    }

    .mobileTitle h2{
        font-size: 4vw;
    }

    .whole{
        flex-direction: column-reverse;  
        height: 100%;
    }

    .left{
        width: 100%;
        padding-right: 0;
        order: 1;
        flex: 1;
    }

    .title{
        margin-top: 10%;
        height: auto;
        margin-bottom: 0;
        display: none;
    }

    .title h1{
        font-size: 12vw;  
    }

    .title h2{
        font-size: 4vw;
    }

    .draw{
        width: 40%;
        font-size: 9vw;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .buttonss{
        flex-direction: column;
        height: auto;
        gap: 10px;
        margin-bottom: 5%;
    }

    .buttonss > button{
        width: 80%;
        height: 60px;
        font-size: 4vw;
    }

    .bingo{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 65%;
        order: 2;
        margin-bottom: 20px;
    }

    .bingoCard{
        width: 95%;
        height: 100%;           
        padding: 10px;
        flex-direction: row; 
    }

    .bingoCard > div{
        flex-direction: column;
        height: 100%;
        width: 100%;
    }

    .bingoCard > div > div{
        flex: 1;
        height: 60px;          
    }

    .bingoCard > div > div > button{
        font-size: 6vw;        
        -webkit-text-stroke: 1px rgb(0, 0, 0);
    }
}

@keyframes bingoIn {
    from{background-color: rgba(255, 255, 255, 0); font-size: 0px}
    to{background-color: rgba(31, 199, 255, 0.356); display: flex;}
}

@keyframes bingoOut {
    to{opacity: 0;}
    from{background-color: rgba(31, 199, 255, 0.356); display: flex;}
}